@use 'sass:math';
//===============================================================/
//  responsive sizes (mobile inclues tablet + phone)
//===============================================================/

$mega: 'screen and (min-width: 1799px)';
$full: 'screen and (min-width: 1250px) ';
$desktop: 'screen (min-width: 940px)';
$small-desktop: 'screen and (max-width: 1249px) and (min-width: 1100px)';
$tablet-landscape: 'screen and (max-width: 1099px) and (min-width: 940px)';
$tablet-portrait: 'screen and (max-width: 939px) and (min-width: 767px)';
$tablet: 'screen and (max-width: 1099px) and (min-width: 767px)';
$phone: 'screen and (max-width: 766px)';
$mobile: 'screen and (max-width: 939px)'; // includes tablet and phone
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)';

//===============================================================/
//  Master Grid Variables
//===============================================================/

$columnCount: 12;
$gutter: 1.6vw;
$outerGutter: 3.38vw;
$column: math.div(
   100vw - (($gutter * ($columnCount - 1)) + ($outerGutter * 2)),
   $columnCount
);

$phoneColumnCount: 8;
$phoneGutter: 2.13vw;
$phoneOuterGutter: 6.4vw;
$phoneColumn: math.div(
   100vw - (($phoneGutter * ($phoneColumnCount - 1)) + ($phoneOuterGutter * 2)),
   $phoneColumnCount
);

//===============================================================/
//  Typography
//===============================================================/

$copy_FS: 16px;
$label_FS: 12px;
$menu_FS: 14px;
$btn_FS: 14px;

$h1_FS: 38px;
$h2_FS: 32px;
$h3_FS: 24px;
$h4_FS: 18px;
$h5_FS: 16px;
$h6_FS: 12px;
